/*미완성*/
body{
	height: 50vh;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.heart {
  background-color: red;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}
.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}
.heart:before {
  top: -15px;
  left: 0;
}
.heart:after {
  left: 15px;
  top: 0;
}
#message {
	color: red;
}
.heart-wrapper.actuve{
	animation: heartbeat 0.5s ease-in-out 10 both;
}

@keyframes heartbeat{
	0%{
		scale:100%
	}
	50%{
		scale:110%
	}
	100%{
		scale:90%
	}
}
